legend.co, .deco, .listes, .creer{
    font-size: xx-large;
    font-weight: bold;
}

div.input-group{
    margin-left: 4.5%;
}

@media all and (max-width: 1000px) {
    legend.co, .deco, .listes, .creer{
        font-size: small;
    }

    div.input-group{
        margin-left: 0;
    }

}
